<h5 class="navbar-text navbar-right"><%= link_to "Back" , root_path %></h5>

      <div class="starter-template">
        <h2>Hello!</h2>
        <p class="lead">Bikelist is a side project.</p>
        <p>This is v0.1 & I Would love your feedback & analysis </p>
        <p>Get in touch via email hello at neilpatel dot co /  <a href="http://www.neilpatel.co">neilpatel.co</a></p>
        <p><a href="http://twitter.com/neilp666" target="blank">
    <i class="fa fa-twitter fa-3x"></i></a></p>
      </div>


