<h5 class="navbar-text navbar-right"><%= link_to "Back" , root_path %></h5>
      

      <div class="container">
     
      <div class="page-header">
      <h1>BikesList v0.1 <a href="http://twitter.com/neilp666" target="blank">
         <i class="fa fa-twitter fa"></i></a></h1>    
      </div>

   
   
        <p>Bikeslist is a side project. It provides the easiest way to find the bike that you always wanted. Using data from Craigslist. This is v0.1. I Would love your feedback & analysis. Get in touch via email hello at neilpatel dot co.</p>
  

        <p><b>What it does</b></p>

        <p>It gives you a wide range of bikes for sale in the USA namely, BMX bikes, road bike, folding bikes, mountain bike, and electric bikes. All of the bikes are either brand new, vintage or recently been used.</p>
  

        <p><b>How it works</b></p>

        <p>Enter the range of maximum and the minimum price of bikes that fall within your budget.Select the state that you want or you could just enter the state manually without entering the price.</p>

        <p>This will provide a list of bikes available in each specific state you entered. More simply, you could just hit Meet Your Bike button. It’s intuitive and simple. You will be provided with a long list of bikes available in the United States.</p>

        <p><b>Lets Connect</b></p>
        
        <p>Neil</p>
        <p><a href="http://www.neilpatel.co">neilpatel.co</a></p>

       </div>






