<h5 class="navbar-text navbar-right"><%= link_to "Back" , root_path %></h5>

      <div class="starter-template">
        <h2>Welcome To Bikeslist</h2>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>


