<h5 class="navbar-text navbar-right"><%= link_to "Back" , root_path %></h5>

      <div class="starter-template">
        <h2>Hello!</h2>
        <p class="lead">Bikelist v0.1 is a side project.</p>
        <p>Would love your feedback & analysis </p>
        <p>Get in touch on email hello at neilpatel dot co | <a href="http://www.neilpatel.co">neilpatel.co</a></p>
        <p>Twitter @neilp666</p>
      </div>


