<div class="jumbotron">
  <div class="box">
    <div class="center">
      <h1><b><i class="fa fa-bicycle fa-lg"></i></b></h1>
      <h1>Get Bikes</h1><br>
      <p>The easiest way to find bikes in the USA</p>
    </div>

    <%= render 'filter' %>
  </div>

 
</div>
