<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Get Bikes</h1>
      <h2>The easiest way to find bikes in the USA</h2>
    </div>

    <%= render 'filter' %>
  </div>
</div>
