<h5 class="navbar-text navbar-right"><%= link_to "About" , about_path %></h5>
  <div class="box">
    <div class="center">
      <h1><b><i class="fa fa-bicycle fa-lg"></i></b></h1>
      <h1>Bikeslist</h1><br>
      <p><b>Bike Search Simplified.</b></p>
        <%= render 'filter' %>
    </div>  
  </div>



