
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F5F1;
  }


.center {
  text-align: center;
}

.jumbotron {
 
  
  background-image: url('https://dl.dropboxusercontent.com/s/8nappil0qbbgnq8/bike.jpg');
  height: 800px;
  background-size: cover;
  background-position: center;


 
  
  h1 {
    font-family: 'Pacifico', arial;
    text-transform: uppercase;
     color: yellow;
    text-shadow: 0px 2px 3px #555;
  }

  h2 {
    font-family: 'Helvetica Neue', Helvetica;
    color: yellow;
  }

  p {

    font-family: 'Helvetica Neue', Helvetica;
    font-size: 20px;
    color: #fff;

  }

}

  .table-hover tbody tr:hover {
    background-color: #eaeae2;
  }

  tbody {
    .thumbnail {
      width: 100%;
      height: 100%;
      margin-bottom: 0px;
    }
  }

  .box {
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: black;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  border-radius: 30px;
  }

  .basic-info, .description {
    background-color: #d7e2f3;
    border: 2px solid #bacde6;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 0px;

  }

  #post-images {
    border-right: 2px dotted #e3e3e3;
    padding: 20px;
    .thumbnail {
      max-width: 100%;
    }
  }

  .header {
    border-bottom: 2px dotted #e3e3e3;
  }
